generated_looperman_one_bar
generated_freesound_one_bar
generated_interpolation_one_bar_2
pretrained_model
__pycache__/*.pyc
__pycache__
__pycache__/model_drum.cpython-38.pyc
evaluation/NDB_JS/__pycache__
evaluation/NDB_JS/looperman_2000.txt
evaluation/NDB_JS/looper_2000/
evaluation/NDB_JS/looper_2000.zip
evaluation/user_study_analysis/
evaluation/IS/freesound_styelgan2.pkl
freesound_checkpoint.pt
generated_audio_looperman_four_bar/
looperman_four_bar_checkpoint.pt
looperman_one_bar_checkpoint.pt
freesound_mel_80_320.zip
mel_80_320/
freesound_checkpoint/
freesound_sample_dir/
evaluation/IS/compute_is_score_one.sh

